@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand&family=Permanent+Marker&family=Quicksand&display=swap');


body {
    background-color: #faeee0;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;

}
h1 {
    font-family:"Edu AU VIC WA NT Hand", cursive;
    text-transform: uppercase;
    font-size:60px;
    color:#faeee0;
    text-align: center;
    background-color:#fa7878;
    margin: top 50px;;
}
h2 {
    color: #faeee0;
}
h3 {
    color: #fa7878;
    border:2px solid #fa7878;
}
h5 {
    font-family:"Edu AU VIC WA NT Hand", cursive;
    font-size: 30px;
    color: #9F6F51;

}
main {
    margin-left: 150px;
    margin: 200px;
    display: grid;
    grid-template-rows: repeat(5,250px);
    grid-template-columns: 250px 500px;
    
}

.photo {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #9F6F51;
    text-align: center;
}
.photo img{
    width:200px;
}
.profil {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #9F6F51;
    padding: 30px;
    color: #faeee0;

}
.contact {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: #9F6F51;
    padding: 30px;
    color: #faeee0;
}
.interet {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: #9F6F51;
    padding: 30px;
}
.interet ul {
    list-style-type:none;
    padding: 30px;
    color: #faeee0;
}

.langues {
    grid-column: 1/2;
    grid-row: 5/6;
    background-color: #9F6F51;
    padding: 30px;
}
.langues ul {
    list-style-type:none;
    padding: 30px;
    color: #faeee0;
}
.nom{
    grid-column: 2/4;
    grid-row: 1/2;
    font-size: 50px;
    padding-left:100px;
    
}
.formation {
    grid-column: 2/4;
    grid-row: 2/3;
    font-size: 20px;
    padding-left: 100px;

}
.formation ul {
    list-style-type: none;
    margin-left: 10px;
}
.expe {
    grid-column: 2/4;
    grid-row: 3/4;
    font-size: 20px;
    padding-left: 100px;
    padding-top: 50px;
}
.expe ul {
    list-style-type: none;
    margin-left: 10px;
}
.qual {
    grid-column: 2/3;
    grid-row: 5/6;
    font-size: 20px;
    padding-left: 100px;

}
.qual ul {
    list-style-type: none;
    margin-left: 10px;
}
footer {
    margin-top: 150px;
    margin-bottom: 5%;
    padding: 10px 50px;
    color: #faeee0;
    background-color:#fa7878;
}

footer .go {
    display: flex;
    flex-direction: row;
    align-items: center;
    }

footer #contact{
    margin-top: -20px;
   flex: 3;

}
footer #pages {
    text-align: right;
    flex: 7;
    margin-left: -150px;
}
footer h1{
    text-decoration: underline;
}
footer a {
    text-align: center;
    text-decoration: none;
    color: #D9D8D4;
    cursor: pointer;
  
}

footer ul {
    list-style-type: none;
    }
body #dark{
    background-color: #faeee0;
    color: #fa7878;
    text-decoration: none;
    text-align: center;

}

